<%-include("header") -%>
<div>
    <h1 class="aboutH1">NIKE LAKE RESTAURANT</h1>
<div class="aboutDiv">
    <div class="imageDiv">
        <img src="../css/image/image.png" alt="">
    </div>
    <div class="pDiv">
    <p>Nike lake restaurant is currently the number one ranking hotel in Eastern part of Nigeria.The hotel is located along Nkwo-Nike Enugu State having the best food and structure for relaxation</p>
    </div>
    <form action="/">
    <button type="submit" class="btn2">get food</button>
    </form>
</div>
</div>
<%-include("footer")-%>